/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#wpadminbar #wp-admin-bar-disqus .ab-icon:before {
    content: "\f101";
    top: 3px;
}

.dsq-admin-header {
    background: #494e58;
    height: 100px;
    position: absolute;
    top: 0;
    left: -20px;
    right: -20px;
    color: white;
}

.dsq-admin-wrapper {
    margin-top: 20px;
}

.button-hero .disqus-icon {
    float: left;
    margin-top: 7px;
    margin-right: 7px;
}

.welcome-panel {
    overflow: hidden;
}

.welcome-panel-column .button {
    margin-bottom: 1.33em;
}

.button-large .dashicons {
    margin-top: 4px;
}

/* Placeholder spinner */

.dsq-loading-container {
    height: 130px;
    padding-top: 120px;
}

.dsq-spinner {
    z-index: 500;

    border: 3px solid transparent;
    border-color: transparent #c2c9d4 transparent #c2c9d4;

    animation: rotate-loading 1.2s linear 0s infinite normal;
    transform-origin: 50% 50%;

    margin: auto;
    width: 25px;
    height: 25px;

    border-radius: 28px;
}

@keyframes rotate-loading {
    0%  {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
